h1 {
  font-size: 36px;
  margin-top: 25px;
  margin-bottom:25px;
}
.header {
  display:flex;
  flex-wrap: nowrap;
  background: #00000080;
  height: max-content;
  color: white;
  padding: 2em;
  justify-content: start;
  align-items: center;
  gap: 2.5em;
  border-radius: 0 0 25px 25px;
}
.home {
  flex-grow: 1;
  text-align:end;
}
.home > a{
  cursor: pointer;
  color: white;
  font-size: 20px;
  transition: font-weight 0.5s ease, font-size 0.5s ease;
}
.home > a > button {
  position: relative;
  width: 75px !important;
  height: 75px;
  cursor: pointer;
  color: white;
  background: #00000080;
  border-radius: 15px;
  border: none;
  width: 5em;
  font-size: 20px;
  font-family: Kanit;
  transition: background 0.5s ease, box-shadow 0.5s ease;
}
.home > a > button:hover {
  background: black;
}
.home > a > button > img {
  opacity: 50%;
  transition: opacity 0.5s ease;
}
.home > a > button:hover > img {
  opacity: 100%;
}
.home > a > button > div {
  opacity: 0.5;
  position: absolute;
  top: 15%;
  left: 15%;
  width: 50px;
  height: 50px;
  mask-image: url('home-icon.png');
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
  background-color: white;
  transition: opacity 0.5s ease; 
}
.home > a > button:hover > div {
  opacity: 1;
}
.semiicon {
  width: 75px;
  height: 75px;
  mask-image: url('semi-icon.png');
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
  background-color: white;
}
.footer {
  background: #00000080;
  height: max-content;
  color: white;
  padding: 1.5em;
  text-align:start;
  width: 100%;
  position: relative;
  bottom : 0;
  left: 0;
  box-sizing: border-box;
  margin-top:auto;
  z-index: -1;
  border-radius: 25px 25px 0 0;
}
.web {
  margin:25px;
}
body {
  background: radial-gradient(circle at center, #302e38 0%, transparent 75%), #111014 ;
  background-size: cover;
  height: 100vh;
  margin: 0;
}
.iframe {
  width: 100%; 
  height: 90vh; 
  border: none;
  border-radius: 15px;
  box-shadow: 0 0 10px #00000080;
}

/*download*/
.download {
  display: grid;
  grid-template-columns: repeat(2,max-content);
  justify-content: start;
  align-content: center;
}
.download > button, .download > a > button {
  display: grid;
  grid-template-columns: repeat(2,max-content);
  gap: 10px;
  cursor: pointer;
  color: white;
  background: #00000080;
  border-radius: 15px;
  border: none;
  width: max-content;
  font-size: 16px;
  padding: 10px;
  font-family: Kanit;
  transition: background 0.5s ease;
}
.download > a {
  text-decoration: none;
}
.download > button:hover, .download > a > button:hover {
  background: black;
}
.downloadicon {
  width: 25px;
  height: 25px;
  mask-image: url('download-icon.png');
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
  background-color: white;
}
.origin {
  text-align: end;
  word-wrap: break-word;
}
.origin > div, .origin > a {
  color: white;
  text-decoration: none;
  font-weight: 200;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2,auto);
  margin: 1em 0 1em 0;
  gap: 1em;
}

.title-box {
  text-align: center;
  color: white;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left:10px;
  padding-right:10px;
  border-radius: 15px;
  background: #302e38;
}

/* buttons */
.buttons {
  display: flex;
  flex-wrap: nowrap;
  position: fixed;
  gap: 0px;
  inset: auto 15px 15px auto;
}
/* buttons */

/* gotop button */
.gotop {
  width: 5em;
  height: 3em;
  background-color: rgba(0,0,0,0.5);
  backdrop-filter: blur(5px);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border: none;
  transition: background-color 0.5s ease, box-shadow 0.5s ease;
}
.gotop:hover {
  background-color: black;
}
.uppy {
  filter: invert(1);
  opacity: 0.5;
}
.gotop:hover .uppy {
  transition: opacity 0.5s ease;  
  opacity: 1;
}
/* gotop button */

/* sectionbtn */
.sectionbtn {
  width: 5em ;
  height: 3em ;
  background-color: rgba(0,0,0,0.5);
  backdrop-filter: blur(5px);
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border: none;
  transition: background-color 0.5s ease, color 0.5s ease;
}
.sectionbtn:hover {
  background-color: black;
}
.sectionbtn:focus {
  outline: none;
}
select.sectionbtn {
  color: rgba(255,255,255,0.5);
  font-family: 'Kanit', sans-serif;
  appearance: none;
  text-align: center;
  font-weight: bold;
}
select.sectionbtn:hover {
  color: white;
}
select.sectionbtn div {
  color: white;
  font-family: 'Kanit', sans-serif;
  appearance: none;
  text-align: center;
}
select.sectionbtn option {
  color: white;
  font-family: 'Kanit', sans-serif;
  background-color:black;
}
/* sectionbtn */

/* themebtn */
.themebtn {
  width: 5em ;
  height: 3em ;
  background-color: rgba(0,0,0,0.5);
  backdrop-filter: blur(5px);
  border: none;
  transition: background-color 0.5s ease, color 0.5s ease;
}
.themebtn:hover {
  background-color: black;
}
.themeicon {
  filter: invert(1);
  opacity: 0.5;
}
.themebtn:hover .themeicon {
  transition: opacity 0.5s ease;  
  opacity: 1;
}
/* themebtn */

body::-webkit-scrollbar {
  background: #111014 ;
  width: 15px;
  height: 15px;
}
body::-webkit-scrollbar-thumb {
  background: #302e38;
  border-radius: 25px;
  width: 50%;
  height: 15px;
}

/* view on phone */
@media (max-width: 767px) {
  .header > div > h1 {
    font-size: 36px !important;
  }
  .header > div > img {
    width: 50px !important;
    height: 50px !important;
  }
  .header {
    gap: 1.5em;
    height: 3em;
  }
  .grid {
    display: grid;
    justify-content: center;
    grid-template-columns: auto;
  }
  .download {
    grid-template-columns: repeat(2,max-content);
    justify-content: center;
  }
  .origin {
    text-align: center;
    font-size: 3vw;
  }
}

/*lightth*/
body.light {
  background: radial-gradient(circle at center, #f5f6f880 0%, transparent 75%), #dddee8 ;
}
body.light .title-box {
  background: #f5f6f8;
  color: #302e38;
}
body.light::-webkit-scrollbar {
  background: #dddee8;
}
body.light::-webkit-scrollbar-thumb {
  background: #302e38;
}

body.light .gotop, body.light .themebtn {
  background-color: rgba(255,255,255,0.5);
}
body.light .gotop:hover, body.light .themebtn:hover {
  background-color: white;
}
body.light .uppy, body.light .themeicon {
  filter: invert(0);
  opacity: 0.5;
}
body.light .sectionbtn {
  background-color: #ffffff80;
}
body.light .sectionbtn:hover {
  background-color: white;
}
body.light select.sectionbtn {
  color: rgba(0,0,0,0.5);
}
body.light select.sectionbtn:hover {
  color: black;
}
body.light select.sectionbtn div {
  color: black;
}
body.light select.sectionbtn option {
  color: black;
  background-color:white;
}

body.light .header, body.light .footer {
  background: #ffffff80;
  color: #302e38;
}
body.light .home>a {
  color: #302e38;
}
body.light .home > a{
  color: #302e38;
}
body.light .semiicon, body.light .home > a > button > div {
  background-color: #302e38;
}
body.light .home > a > button {
  color: #302e38;
  background: #ffffff80;
}
body.light .home > a > button:hover {
  background: white;
}

body.light .download > button, body.light .download > a > button {
  color: #302e38;
  background: #ffffff80;
}
body.light .download > button:hover, body.light .download > a > button:hover {
  background: #ffffff;
}
body.light .origin > div, body.light .origin > a {
  color: #302e38;
}
body.light .downloadicon {
  background-color: #302e38;
}