h1 {
  font-size: 36px;
  margin-top: 25px;
  margin-bottom:25px;
}
.header {
  display:flex;
  flex-wrap: nowrap;
  background: #00000080;
  height: max-content;
  color: white;
  padding: 2em;
  justify-content: start;
  align-items: center;
  gap: 2.5em;
}
.home {
  flex-grow: 1;
  text-align:end;
}
.home > a{
  cursor: pointer;
  color: white;
  font-size: 20px;
  transition: font-weight 0.5s ease, font-size 0.5s ease;
}
.home > a > button {
  cursor: pointer;
  color: white;
  background: #00000080;
  border-radius: 15px;
  border: 1px solid black;
  width: 5em;
  font-size: 20px;
  font-family: Kanit;
  transition: background 1s ease, box-shadow 1s ease;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.home > a > button:hover {
  background: black;
  box-shadow: 0 0 5px rgba(0,0,0, 1);
}
.footer {
  background: #00000080;
  height: max-content;
  color: white;
  padding: 1.5em;
  text-align:start;
  width: 100%;
  position: relative;
  bottom : 0;
  left: 0;
  box-sizing: border-box;
  margin-top:auto;
  z-index: -1;
}
.web {
  margin:25px;
}
body {
  background-color: #363636 ;
  margin: 0;
}
.iframe {
  width: 100%; 
  height: 90vh; 
  border: none;
  border-radius: 15px;
  box-shadow: 0 0 10px #00000080;
}


/*download*/
.download {
  display: grid;
  grid-template-rows: repeat(2,max-content);
  gap: 10px;
  justify-content: start;
  align-content: center;
}
.download > button, .download > a > button {
  cursor: pointer;
  color: white;
  background: #00000080;
  border-radius: 10px;
  border: 1px solid black;
  width: max-content;
  font-size: 16px;
  font-family: Kanit;
  transition: background 1s ease, box-shadow 1s ease;
  box-shadow: 0 0 5px #676767;
}
.download > button:hover, .download > a > button:hover {
  background: black;
  box-shadow: 0 0 5px rgba(0,0,0, 1);
}
.origin {
  text-align: end;
  word-wrap: break-word;
}
.origin > div, .origin > a {
  color: white;
  text-decoration: none;
  font-weight: 200;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2,auto);
  margin: 1em 0 1em 0;
}

.title-box {
    text-align: center;
    color: white;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left:10px;
    padding-right:10px;
    border-radius: 25px;
    background: linear-gradient(to bottom, #2d2d2d, #212121);
  }

/* buttons */
.buttons {
  display: flex;
  flex-wrap: nowrap;
  gap: 5px;
  position: fixed;
  inset: auto 15px 15px auto;
}
/* buttons */

/* gotop button */
.gotop {
  width: 5em;
  height: 3em;
  background-color: rgba(0,0,0,0.5);
  backdrop-filter: blur(5px);
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border: solid 1px black;
  box-shadow:0 0 5px #67676780;
  transition: background-color 1s ease, box-shadow 1s ease;
}
.gotop:hover {
  background-color: black;
  box-shadow: 0 0 5px rgba(0,0,0, 1);
}
.uppy {
  filter: invert(1);
  opacity: 0.5;
}
.gotop:hover .uppy {
  transition: opacity 1s ease;  
  opacity: 1;
}
/* gotop button */

/* sectionbtn */
.sectionbtn {
  width: 5em ;
  height: 3em ;
  background-color: rgba(0,0,0,0.5);
  backdrop-filter: blur(5px);
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border: solid 1px black;
  box-shadow:0 0 5px #67676780;
  transition: background-color 1s ease, color 1s ease, box-shadow 1s ease;
}
.sectionbtn:hover {
  background-color: black;
  box-shadow: 0 0 5px rgba(0,0,0,1);
}
.sectionbtn:focus {
  outline: none;
}
select.sectionbtn {
  color: rgba(255,255,255,0.5);
  font-family: 'Kanit', sans-serif;
  appearance: none;
  text-align: center;
  font-weight: bold;
}
select.sectionbtn:hover {
  color: white;
}
select.sectionbtn div {
  color: white;
  font-family: 'Kanit', sans-serif;
  appearance: none;
  text-align: center;
}
select.sectionbtn option {
  color: white;
  font-family: 'Kanit', sans-serif;
  background-color:#1f1f1f;
}
/* sectionbtn */

/* themebtn */
.themebtn {
  width: 5em ;
  height: 3em ;
  background-color: rgba(0,0,0,0.5);
  backdrop-filter: blur(5px);
  border: solid 1px black;
  box-shadow:0 0 5px #67676780;
  transition: background-color 1s ease, color 1s ease, box-shadow 1s ease;
}
.themebtn:hover {
  background-color: black;
  box-shadow: 0 0 5px rgba(0,0,0,1);
}
.themeicon {
  filter: invert(1);
  opacity: 0.5;
}
.themebtn:hover .themeicon {
  transition: opacity 1s ease;  
  opacity: 1;
}
/* themebtn */

body::-webkit-scrollbar {
  background: rgba(0,0,0, 0.5);
  border-radius: 25px;
  width: 15px;
  height: 15px;
}
body::-webkit-scrollbar-thumb {
  background: #67676780;
  border-radius: 25px;
  width: 50%;
  height: 15px;
}

/* view on phone */
@media (max-width: 767px) {
  .header > div > h1 {
    font-size: 36px !important;
  }
  .header > div > img {
    width: 50px !important;
    height: 50px !important;
  }
  .header {
    gap: 1.5em;
    height: 3em;
  }
  .grid {
    display: grid;
    justify-content: center;
    grid-template-columns: auto;
  }
  .download {
    grid-template-columns: repeat(2,max-content);
    justify-content: center;
  }
  .origin {
    text-align: center;
    font-size: 3vw;
  }
}

/*lightth*/
body.light .title-box {
  background: linear-gradient(to bottom, white, #e8e8e8);
  color: #363636;
}
body.light::-webkit-scrollbar {
  background: rgba(255,255,255, 0.5);
}
body.light::-webkit-scrollbar-thumb {
  background: #67676780;
}

body.light .gotop, body.light .themebtn {
  background-color: rgba(255,255,255,0.5);
  border: solid 1px white;
  box-shadow:0 0 5px #adadad80;
  transition: background-color 1s ease, box-shadow 1s ease;
}
body.light .gotop:hover, body.light .themebtn:hover {
  background-color: white;
  box-shadow: 0 0 5px rgba(255,255,255, 1);
}
body.light .uppy, body.light .themeicon {
  filter: invert(0);
  opacity: 0.5;
}
body.light .sectionbtn {
  background-color: rgba(255,255,255,0.5);
  border: solid 1px white;
  box-shadow:0 0 5px #adadad80;
  transition: background-color 1s ease, color 1s ease, box-shadow 1s ease;
}
body.light .sectionbtn:hover {
  background-color: white;
  box-shadow: 0 0 5px rgba(255,255,255,1);
}
body.light select.sectionbtn {
  color: rgba(0,0,0,0.5);
}
body.light select.sectionbtn:hover {
  color: black;
}
body.light select.sectionbtn div {
  color: black;
}
body.light select.sectionbtn option {
  color: black;
  background-color:white;
}

body.light .header, body.light .footer {
  background: #ffffff80;
  color: #13364e;
}
body.light .home>a {
  color: #13364e;
}
body.light .home > a{
  color: #13364e;
}
body.light .home > a > button {
  color: #13364e;
  background: #ffffff80;
  border: 1px solid white;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}
body.light .home > a > button:hover {
  background: white;
  box-shadow: 0 0 5px rgba(255,255,255, 1);
}

body.light {
  background-color: #dfdfdf ;
}

body.light .download > button, body.light .download > a > button {
  color: #363636;
  background: #ffffff80;
  border: 1px solid white;
  box-shadow: 0 0 5px #adadad80;
}
body.light .download > button:hover, body.light .download > a > button:hover {
  background: white;
  box-shadow: 0 0 5px #ffffff;
}
body.light .origin > div, body.light .origin > a {
  color: #363636;
}